@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  max-width: 100% !important;
<<<<<<< HEAD
  overflow-x: hidden; /* bom dia */
  /*É O POZE DO RODO*/
}



/* Complicações */

/* Tuzin */
/* OSASCO NUNCA TIGAS*/
=======
  overflow-x: hidden;
}
>>>>>>> 58a6ff317a1ba4f0a9dd9626b85f03625149d19f
