@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  max-width: 100% !important;
  overflow-x: hidden; /* bom dia */
<<<<<<< HEAD
  /*É O POZE DO RODO*/
}
=======



/* Complicações */

/* Tuzin */
>>>>>>> a161bc221c4a7391db238f5cb4af94b00efdf010
/* OSASCO NUNCA TIGAS*/
