@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  max-width: 100% !important;
  overflow-x: hidden; /* bom dia */
  /*É O POZE DO RODO*/
}
/* OSASCO NUNCA TIGAS*/
